.idea
.vscode

## Deps
node_modules

## Env
.env
.env.production
.envrc

## Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

## Misc
.DS_Store

## Claude settings
.claude/settings.local.json

## Build output
dist/
